<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.planModelMapper.CustomMapper">
<resultMap id="customMap" type="com.cskaoyan.bean.planModelBean.Custom">
    <result column="custom_id" property="customId"/>
    <result column="custom_name" property="customName"/>
    <result column="full_name" property="fullName"/>
    <result column="address" property="address"/>
    <result column="fax" property="fax"/>
    <result column="email" property="email"/>
    <result column="owner_name" property="ownerName"/>
    <result column="owner_tel" property="ownerTel"/>
    <result column="status" property="status"/>
    <result column="note" property="note"/>
</resultMap>
    <select id="queryCustom" resultMap="customMap">
        select custom_id,custom_name,full_name,address,fax,email,
        owner_name,owner_tel,status, note
        from custom
    </select>
</mapper>







