<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.planModelMapper.ProcessMapper">
    <resultMap id="processMap" type="com.cskaoyan.bean.planModelBean.Process">
        <result column="process_id" property="processId"/>
        <result column="technology_plan_id" property="technologyPlanId"/>
        <result column="sequence" property="sequence"/>
        <result column="quota" property="quota"/>
    </resultMap>
    <select id="queryProcess" resultMap="processMap">
    select process_id,technology_plan_id,sequence,quota from process
    </select>

    <select id="queryProcessById" resultMap="processMap">
        select process_id,technology_plan_id,sequence,quota from process
        where process_id=#{id}
    </select>

    <update id="updateProcess">
        update process set process_id=#{process.processId},technology_plan_id=#{process.technologyPlanId},
        sequence=#{process.sequence},quota=#{process.quota} where process_id=#{process.processId}
    </update>
</mapper>