<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.planModelMapper.ProductMapper">
<resultMap id="productMap" type="com.cskaoyan.bean.planModelBean.Product">
    <result column="product_id" property="productId"/>
    <result column="product_name" property="productName"/>
    <result column="product_type" property="productType"/>
    <result column="image" property="image"/>
    <result column="note" property="note"/>
    <result column="status" property="status"/>
</resultMap>
    <select id="queryProduct" resultMap="productMap">
        select product_id,product_name,product_type,image,note,status from product
    </select>


    <update id="insertProduct" >
        insert into product(product_name,product_id,product_type,image,note,status)
        values(#{product.productName},#{product.productId},#{product.productType},#{product.image},#{product.note},#{product.status})
    </update>

    <select id="queryProductById" resultMap="productMap">
        select product_id,product_name,product_type,image,note,status from product where product_id=#{id}
    </select>

    <update id="updateProduct">
        update product set product_id=#{product.productId},product_name=#{product.productName},
        product_type=#{product.productType},image=#{product.image},note=#{product.note},
        status=#{product.status} where product_id=#{product.productId}
    </update>

    <delete id="deleteProduct">
        delete from product where product_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="searchPidByPname" resultType="string">
        select product_id from product where
        product_name LIKE CONCAT(CONCAT('%', #{pname}), '%')
    </select>

    <select id="searchProductByPid" resultMap="productMap">
        select product_id,product_name,product_type,image,note,status
         from product where
        product_id LIKE CONCAT(CONCAT('%', #{pid}), '%')
    </select>

    <select id="searchProductByPtype" resultMap="productMap">
        select product_id,product_name,product_type,image,note,status
         from product where
        product_type LIKE CONCAT(CONCAT('%', #{ptype}), '%')
    </select>
</mapper>



