<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.technologymapper.TechnologyMapper">

    <select id="insert" parameterType="com.cskaoyan.bean.technologybean.Technology">
      insert
      into technology (
        technology_id,
        technology_name,
        price,
        vital_process_period,
        standard_capacity,
        overtime_standard_capacity,
        overtime_overfulfil_capacity,
        double_capacity,
        overfulfil_capacity
        )
      values (
        #{technologyId,jdbcType=VARCHAR},
        #{technologyName,jdbcType=VARCHAR},
        #{price,jdbcType=DECIMAL},
        #{vitalProcessPeriod,jdbcType=VARCHAR},
        #{standardCapacity,jdbcType=INTEGER},
        #{overtimeStandardCapacity,jdbcType=INTEGER},
        #{overtimeOverfulfilCapacity,jdbcType=INTEGER},
        #{doubleCapacity,jdbcType=INTEGER},
        #{overfulfilCapacity,jdbcType=INTEGER})
    </select>

</mapper>